<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/home.css">
    <title>Document</title>
</head>
<body>
    <header class="site-header">

        <div class="logo">
            <h1>Ecommerce Website </h1>
        </div>

        <form action="" method="post">
            <input type="text" placeholder="Search..." class="input">
            <button type="submit" class="btn">Search</button>
        </form>
        <div class="no-dropdown">
            <div>
                <form action="" method="get">
                    <button type="submit" class="btn"> Cart </button>
                </form>
            </div>
            <div>
                <form action="" method="get">
                    <button type="submit" class="btn">My profile</button>
                </form>
            </div>
            <div>
                <% if(locals.msg) { %>
                    <% if(msg=="isSeller") { %>
                        <form action="/seller" method="get">
                            <button type="submit" class="btn">Seller Utils</button>
                        </form>
                    <% }else { %>
                        <form action="/become_seller" method="get">
                            <button type="submit" class="btn">Become a Seller</button>
                        </form>
                    <% } %>
                <% } %>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn"><img src="/images/dropdown.svg" alt="dropdown"></button>
            <div class="dropdown-content">
                <a href="">Cart</a>
                <a href="">Profile</a>
                <a href="">Be a Seller</a>
            </div>
        </div>

    </header>
    
